/* RESETER */
/* comment it if you don't want to reset default css */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0;	padding: 0;	border: 0;	outline: 0;	font-size: 100%; vertical-align: baseline; background: transparent;}
body {/*line-height: 1;*/} ol, ul {list-style: none;} blockquote, q {quotes: none;} blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}/* remember to define focus styles! */:focus {outline: 0;}/* remember to highlight inserts somehow! */ins {text-decoration: none;}del {text-decoration: line-through;}/* tables still need 'cellspacing="0"' in the markup */table {border-collapse: collapse; border-spacing: 0;}

/*call font*/
@font-face {
				font-family: 'Museo-300';
				src: url('../style/museo300/museo300regular1.eot');
				src: url('../style/museo300/museo300regular1.eot?#iefix') format('embedded-opentype'),
						 url('../style/museo300/museo300regular1.woff') format('woff'),
						 url('../style/museo300/museo300regular1.ttf') format('truetype'),
						 url('../style/museo300/museo300regular1.svg#Museo-300') format('svg');
				font-weight: normal;
				font-style: normal;
}
@font-face {
				font-family: 'Museo-700';
				src: url('../style/museo700/museo700regular1.eot');
				src: url('../style/museo700/museo700regular1.eot?#iefix') format('embedded-opentype'),
						 url('../style/museo700/museo700regular1.woff') format('woff'),
						 url('../style/museo700/museo700regular1.ttf') format('truetype'),
						 url('../style/museo700/museo700regular1.svg#Museo-700') format('svg');
				font-weight: normal;
				font-style: normal;
}

/*page begin*/
.left{
	float: left;
}
.right{
	float: right;
}
.clear{
	clear: both;
}
.museo300{
	font-family: 'Museo-300',sans-serif,arial;
}
.museo700{
	font-family: 'Museo-700',sans-serif,arial;
}
h2{
	font-size: 36px;
}
h3{
	font-size: 30px;
}
h4{
	font-size: 24px;
}
h5{
	font-size: 18px;
	color: #323232;
	margin-bottom: 10px;
}
.font12{
	font-size: 12px!important;
}
.button{
	padding: 10px 50px;
	color: #ffffff;
	border: 1px solid #000;
	font-size: 18px;
	font-family: 'Museo-300',sans-serif,arial;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	-webkit-border-radius: 7px;
	-khtml-border-radius: 7px;
	background-color: #8325be;
	cursor: pointer;
}
.top-line{
	position: absolute;
	height: 10px;
	width: 100%;
	border-bottom: 3px solid #e9cb01;
	text-align: center;
	background-color: #8325be;
	min-width: 1049px;
	box-shadow: 0 0 20px #888888;
	-moz-box-shadow: 0 0 20px #888888;
	-o-box-shadow: 0 0 20px #888888;
	-webkit-box-shadow: 0 0 20px #888888;
	-khtml-box-shadow: 0 0 20px #888888;
}
.top-arrow{
	position: absolute;	
}


.black{
	color: #323232;
}
.purple{
	color: #8325be;
}
.orange{
	color: #f6cc00;
}
/*------------------*/
.wrapper{
	width: 1049px;
	margin: 0 auto;
}
#header{
	padding: 50px 0 20px 0;
	font-family: 'Museo-300',sans-serif,arial;
	font-size: 18px;
	color: #8325be;
}
.left-header{
	width: 50%;
	left:0px;
}
.right-header{
	width: 50%;
	right: 0px;
}
.wedding{
	width: 480px;
	float: right;
}
.enter{
	width: 480px;
}
.entertainment-right,.entertainment-left{
	text-align: right;
	width: 170px

}
.title-entertainment{
	height: 55px;
	padding-right: 45px;
	background: url("../images/music.png")no-repeat right top;
	margin-right: -45px;
	margin-bottom: 10px;
}
.head-height{
	min-height: 280px;
}
.title-entertainment h4{
	margin-top: 25px;
}
.title-wedding{
	padding-left: 70px;
	height: 70px;
	background: url("../images/flower1.png")no-repeat left top;
	margin-left: -70px;
}
#header span{
	background-color: #fbe657;
	padding: 0 5px ;
}
.video{
	margin-top: 30px;
}
.logo{
	position: absolute;
	left: 50%;
	width: 320px;
	text-align: center;
}
/*gallery*/

#gallery{
	width: 100%
}
.gallery-left{
	width: 320px;
}
.gallery-right{
	width: 640px;
}

.right-paket{
	width: 480px;
}
.right-paket li,.box-vendor li{
	background: url("../images/list-ico.png")no-repeat left center;
	padding-left: 18px;
	font-family: Tahoma,arial,sans-serif;
	font-size: 18px;
	line-height: 1.5em;

}
.paket2013 label{
	margin-right: 30px;
	color:#323232;
}
.paket2013 span{
	color: #8325be;
}
.fasilitas{
	margin-top: 30px;
}
.bonus{
	margin-top: 20px;
	margin-left: 140px;
}
#paket{
	background-color: #fcfeda;
	min-width: 1049px;
	width: 100%;
}
.vendor h3,#contact h3{
	margin-bottom: 20px;
}
.vendor>ul{
	width: 220px;
}
.vendor li{
	font-size: 14px;
}
.paket-top{
	min-height: 700px
}
.box-vendor{
	margin-bottom: 15px;
	padding-left: 85px;
	min-height: 80px;
}
.bridal{
	background: url("../images/bridal-ico.png")no-repeat left 5px;
}
.photo{
	background: url("../images/photo-ico.png")no-repeat 7px 7px;
}
.video{
	background: url("../images/video-ico.png")no-repeat 7px 7px;
}
.cake{
	background: url("../images/cake-ico.png")no-repeat left 7px;
}
.vendor{
	width: 960px;
	margin: 0 auto;
}
.car{
	background: url("../images/car-ico.png")no-repeat left 7px;	
}
.souvenir{
	background: url("../images/souvenir-ico.png")no-repeat left 7px;	
}
.decoration{
	background: url("../images/deco-ico.png")no-repeat left 7px;	
}
.card{
	background: url("../images/card-ico.png")no-repeat left 7px;	
}
.catering{
	background: url("../images/catering-ico.png")no-repeat left 7px;	
}
.hotel{
	background: url("../images/hotel-ico.png")no-repeat 10px 7px;		
}
.gedung{
	background: url("../images/gedung-ico.png")no-repeat left 7px;		
}
.wedd{
	background: url("../images/organizer-ico.png")no-repeat left 7px;			
}
.organ{
	background: url("../images/organ-ico.png")no-repeat 15px 7px;		
}
#contact,#footer{
	width: 960px;
	margin: 0 auto;
	padding: 20px 0;
}
.contact-wrapper{
	border-top: 2px solid #cacac1;
	background: url("../images/bg-content.jpg");
	min-width: 1049px;
}
.gallery-wrapp{
	background: url("../images/bg-content.jpg");
	min-width: 1049px;	
	border-bottom: 2px solid #cacac1;
}
.left-contact{
	width: 480px;
}
#contact input[type="text"],#contact textarea{
	font-style: italic;
	padding: 5px 15px;
	border: 1px solid #cacac1;
	font-size: 	14px;
	font-family: tahoma,sans-serif,arial;
	border-radius:4px;
	-o-border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-khtml-border-radius:4px;
	width: 350px;
	margin-bottom: 5px;
	
}
#contact textarea{
	height: 75px;
	resize:none;
}
.right-contact-wrapp{
	text-align: right;
	font-family: tahoma,sans-serif,arial;
	color:#323323;
}
.submit{
	margin-right: 100px;
}
.antok,.kantor{
	margin-bottom: 20px;
}
.social li{
	margin-right: 10px;
}
.right-contact h4{
	margin-bottom: 10px;
}
.big-flower{
	position: absolute;
	margin-left: -60px;
	margin-top: 40px;
}

/*footer bagin*/
.footer-wrapper{
	background-color: #8325be;
	border-top: 2px solid #c8be8b;
	border-bottom: 2px solid #f7d62c
}
#footer{
	font-weight: normal;
	color: #ffffff;
	width: 960px;
	margin: 0 auto;
	font-size: 12px;
	font-family: verdana,sans-serif,arial;
	font-weight: normal;
}
#galleries{
	margin: 0 auto;
	width: 960px;
}
.thum{
	width: 320px;
}
#gallery{
	width: 640px;
}
.thumbs li{
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}
.wedding ul{
	width: 200px;
}