/* RESETER */
/* comment it if you don't want to reset default css */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0;	padding: 0;	border: 0;	outline: 0;	font-size: 100%; vertical-align: baseline; background: transparent;}
body {line-height: 1;} ol, ul {list-style: none;} blockquote, q {quotes: none;} blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}/* remember to define focus styles! */:focus {outline: 0;}/* remember to highlight inserts somehow! */ins {text-decoration: none;}del {text-decoration: line-through;}/* tables still need 'cellspacing="0"' in the markup */table {border-collapse: collapse; border-spacing: 0;}

/*page begin*/
body{
	background:url("../images/footer-bg.jpg")no-repeat bottom center;
	background-color: #87d3ff;
	font-family: arial,sans-serif;
	font-weight: normal;
	color: #333333;
}
a{
	text-decoration: none;
}
h3{
	font-size: 24px;
	font-family: 'Sansita One', cursive,arial,sans-serif;
	
	margin-bottom: 15px;
}
h4{
	font-family: 'Sansita One', cursive,arial,sans-serif;
	color: #454545;
	font-size: 20px;
}

h6{
	font-family: 'Sansita One', cursive,arial,sans-serif;
	font-size: 48px;
	margin-bottom: 20px;
	color: #ffffff;
}
.orange{
	color: #f1a501;
}
.blue{
	color: #2995d8;
}
.italic{
	font-style: italic;
}
.left{
	float: left!important;
}
.right{
	float:right!important;
}
.center{
	text-align: center;
}
.wrapper{
	width: 980px;
	margin: 0 auto;
}
.bg-main{
  width: 100%;
	/*height: 100%;*/
	position: absolute;
	z-index: -999;
	min-width: 1024px;
}
/**/

.button{
	padding: 7px 20px;
	font-family: 'Sansita One', cursive,arial,sans-serif;
	font-size: 15px;
	cursor: pointer;
}
.button:hover{
	opacity: 0.8;
}
.orange-grad{
	
	border: none;
	background-color: #fead00;
	background-image: -webkit-linear-gradient(top, #fead00 0%, #dd9803 100%);  
  background-image: -moz-linear-gradient(top, #fead00 0%, #dd9803 100%);  
  background-image: -ms-linear-gradient(top, #fead00 0%, #dd9803 100%);  
  background-image: -o-linear-gradient(top, #fead00 0%, #dd9803 100%);  
  background-image: -linear-gradient(top, #fead00 0%, #dd9803 100%);  
	color: #ffffff;
}
.blue-grad{border: none;
	background-color: #279de1;
	background-image: -webkit-linear-gradient(top, #279de1 0%, #1471ac 100%);  
  background-image: -moz-linear-gradient(top, #279de1 0%, #1471ac 100%);  
  background-image: -ms-linear-gradient(top, #279de1 0%, #1471ac 100%);  
  background-image: -o-linear-gradient(top, #279de1 0%, #1471ac 100%);  
  background-image: -linear-gradient(top, #279de1 0%, #1471ac 100%);  
	color: #ffffff;	
}
/*header begin*/
#header{
	padding-top: 30px;
	margin-bottom: 30px;
	position: relative;
}
.top-menu li{
	font-family: 'Oswald', sans-serif,arial;
	display: inline;
	font-size: 20px;
	font-weight: normal;
}
.top-menu a{
	padding: 0 10px;
	color: #ffffff;
}
.top-menu a:hover{
	color: #f1a501;
}
/*slider begin*/
.text-bxslider li{
	text-align: center;
}
/*carausel*/
#carousel{
	margin-top:35px;
	margin-bottom: 20px;
}
/*content begin*/
#content{
	background-color: #ffffff;
	margin-bottom: 20px;
	padding-bottom: 20px;
	position: relative;
}
#content p{
	margin-bottom: 15px;
}
.radius10{
	border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
}
.white-trans{
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(252, 252, 252);
	/* RGBa with 0.6 opacity */
	background: rgba(252, 252, 252, 0.6);
	/* For IE 5.5 - 7*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}
.wrapper-box{
	border-bottom: 1px dashed #b9b8b8;
}
.boxs{
	border-right: 1px dashed #b9b8b8;
	float: left;
	width: 329px;
}
.boxs-midle{
	float: left;
	width: 319px;
}

.border-last{
	border-right: none; 
	border-left: 1px dashed #b9b8b8;
}
.feature{
	margin-bottom: 20px;
}
.feature-title{
	background-color: #e7e7e7;
	text-align: center;
	padding: 15px 0;
	}
.fea-first{ 
	border-top-left-radius: 10px;
	-o-border-top-left-radius: 10px;
	-moz-border-top-left-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-khtml-border-top-left-radius: 10px;
}
.fea-last{ 
	border-top-right-radius: 10px;
	-o-border-top-right-radius: 10px;
	-moz-border-top-right-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-khtml-border-top-right-radius: 10px;
}
.feature-text{
	text-align: center;
}
.feature-text p{
	font-size: 15px;
	color: #54a9ff;
	font-weight: normal;
}
.feature .text{
	padding: 20px 10px;
}
.feature-button{
	margin-top: 20px;
}
.box{
	padding: 10px;
}
.box p{
	font-size: 14px;
}
/*footer begin*/
#footer{
	position: relative;
}
.footer-menu a{
	padding-right: 10px;
	color: #000000;
}
.footer-menu,.foot{
	margin-bottom: 20px;
}
.footer-menu li{
	display: inline;
	border-right:1px solid #000000;
}
.b-last{
	border-right:none!important;
}
.copyright p{
	font-size: 12px;
}
.slide{
	padding: 12px;
	background-color: #ffffff;
	margin-right: 27px;
	width: 141px!important;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
}
.slider2{
	margin-left: 12px;
}

/*contact begin*/
img{
	margin-bottom: 10px;
}
.contact,.service{
	padding-top: 40px;
}
.thumb-top{
	position: absolute;
	top: -110px;
	right: 25px;
	z-index: 1;

}
#map{
	width: 100%;
	height: 350px;
	margin-bottom: 20px;
}
.field{
	margin-bottom: 5px;
}
.field label{
	width: 100px;
	float: left;
}
.field input[type="text"],textarea{
	line-height: 1.5em;
	border: 1px solid #b9b8b8;
	padding: 5px;
	width: 400px;
	background-color: #f8f8f8;
	color: #b9b8b8;
	width: 430px;
}
.field input:focus,textarea:focus{
	border: 1px solid #6bb6e4;
}
form .field label{
	width: 100px;
}
form .field span{
	margin: 0 10px;
}
.field label{
	width: 75px;
}
.field p{
	width: 220px;
}
textarea{
	resize:none;
	height: 150px;
}
.right-align{
	text-align: right;
}
.left-align{
	text-align: left;
}
.v-align{
	vertical-align: top;
	padding-top: 10px;
}
.submit{
	margin-right: 50px;
}
/*service page*/
.service-wrapper{
	position: relative;
}
.left-service{
	position: absolute;
}
.left-service li{
	background: url("../images/yellow-dot.png") no-repeat left center;
	padding-left: 20px;
	margin-bottom: 5px
}
.left-service a{
	color: #2995d8;
}

.right-service li{
	background: url("../images/dot.jpg")no-repeat center left;
	padding-left: 15px;
}
.sub-title{
	margin-bottom: 30px;
}
.right-margin{
	margin-right: 20px;
}
.left-margin{
	margin-left: 20px;
}

h3 #successmessage{text-align: center;background: #509A51;color: #fff;padding: 10px;}
h3 #errormessage{text-align: center;background: #FF0000;color: #fff;padding: 10px;}