/* RESETER */
/* comment it if you don't want to reset default css */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0;	padding: 0;	border: 0;	outline: 0;	font-size: 100%; vertical-align: baseline; background: transparent;}
body {line-height: 1;} ol, ul {list-style: none;} blockquote, q {quotes: none;} blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}/* remember to define focus styles! */:focus {outline: 0;}/* remember to highlight inserts somehow! */ins {text-decoration: none;}del {text-decoration: line-through;}/* tables still need 'cellspacing="0"' in the markup */table {border-collapse: collapse; border-spacing: 0;}

/*index page*/
/*header*/
body{
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: 15px;
	background-color: #24aded;
}
#main-bg{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -999;

}
.left{float: left;}
.right{float: right;}
.italic{font-style: italic;}
.center{
	text-align: center;
}
a{
text-decoration: none;
color: #509a04;
}
h2{font-size: 48px;margin: 0 0 10px 20px;}
h3{
	font-size: 24px;
	margin-bottom: 10px;
	font-weight: normal;
	color: #509a04; 
	font-family: 'Ubuntu Condensed', sans-serif;
}
h5{
	font-size: 14px;
	margin-bottom: 10px;
}
.green{color: #20bb36;}
.button{
	padding: 10px 20px;
	background: #509a04;
	border: 1px solid #509a04;
	color: #ffffff;
	font-family: arial,sans-serif;
	font-size: 14px;
	cursor:pointer;
}
.button:hover{
	opacity:0.9;
}
.wrapper-left{margin-left: 10px;}
.wrapper-right{margin-right: 10px}
.wrapper{border-top: 5px solid #20bb36;}
.big-shadow{
	background: url("../images/big-shadow.png") no-repeat 50% 50%;
	height:17px;
	width: 950px; 
	position: absolute;

}
.small-shadow{
	background: url("../small-shadow.png") center center;
	height:34px; 
}
.header-wrapper{background: url('../images/bg-tail.jpg');}
.logo{
	float: left;
	margin: 10px 0 10px 20px;
}
.title{
	color: #006130;
	font-family: ;
	font-size: 12px;

}
.menu-top ul{
	float: right;
	margin-top: 80px;
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: 20px;
}
.menu-top ul li{
	display: inline;
}
.menu-top a{
	padding: 0 10px;
	color: #000000;
}
.menu-top a:hover{
	color: #509a04;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;}
/*slide*/
#slider{
	/*margin-bottom: 10px;*/
}
/*content begin*/
#content{
	position: relative;
}
.content-wrapper{
	background: url("../images/bg-content.png") no-repeat bottom right #ffffff;
	padding: 20px 0;
	border-bottom: 3px solid #24aded;
	padding-bottom: 100px;
}
.page-wrapper{
	background-color: #ffffff;
	padding: 20px 0;
	border-bottom: 3px solid #24aded;
	font-family: arial,sans-serif;

}
#content p{
	font-family: arial;
	text-align: justify;
	line-height: 1.5em;
	margin-bottom: 10px;
}
.left-content img{
	margin: 0 10px 0 0;
}
/*content*/

.right-content{
	margin-left: 20px;
}
.right-content ul li,.left-menu ul li{
	background: url("../images/water-ico.png") no-repeat left;
	margin-bottom: 10px;
	color: #509a04;
	padding-left: 20px;
	line-height: 1.5em;
}
.readmore{
	background: url("../images/read-more.jpg") no-repeat right;
	padding-right: 30px;
	text-align: right;
	margin: 20px 10px 0 0;
	font-style: italic;
}
.readmore a{
	color: #696969;
}
/*footer*/
.footer-wrapper{
	background: url("../images/bg-tail.jpg");
	padding: 20px;
}
.footer-wrapper p{
	line-height: 1.5em;
}
.footer-wrapper ul{
	margin-bottom: 30px;
}
.footer-wrapper ul li{
	display: inline;
	border-right: 1px solid #509a04;
}
.footer-wrapper ul li a{
	padding-right: 5px;
}
.split-last,.yahoo li{
	border-right: none!important;
}
.contact-detail{
	font-family: arial;
	font-size: 14px;
}
.left-detail{
	float: left;
}
/*yahoo*/
.yahoo{margin-top: 20px; display:none;}
.yahoo li p{
	float: left;
	margin-right: 10px;
}
.social{
	float: right;
	margin-right: 30px;
}
/*main footer*/
.main-footer{
	font-family: Arial;
	font-size: 14px;
	margin-top:30px;
}
.copyright{
	float: left;
	margin-top:30px;
}
.priority{
	margin-top:-20px;
	float: right;
	margin-right: 30px;
}

/*about page*/
.separator{
	background-color: #26bd3c;
	height: 1px;
	margin: 3px 0;
}
/*right about*/
#sejarah,#visi,#prose{
	margin-bottom: 20px;
}
.right-about,.contact-right{
	margin-right: 20px;
}
h4{
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: 30px;
	margin-bottom: 20px;
}

.right-about span{
	font-family: arial,verdana!important;
	line-height: 1.5em;
}
.quote{margin-left: 37px;}
.img-box{
	padding-bottom: 30px;
	background: url("../images/small-shadow.png") no-repeat center bottom;
}
.img-box img{
	margin-bottom: 5px;
}
.img-leftmargin{
	margin-left: 10px
}
.img-rightmargin{
	margin-right: 10px	
}
.margin-top{margin-top: 50px;}
.left-about.fixed{
	position: fixed;
	top: 0px;	
}
.sticky{
	position: absolute;
}
.left-menu{
	margin-bottom: 50px;/*
	position: absolute;*/
}
.left-menu li{
	font-family: arial,verdana!important;
}
/*contact page*/
.contact{font-size: 14px;}
.contact-left table{
	margin-bottom: 20px;
}
.contact-left tr{
	line-height: 1.5em;

}
.contact tr td{
	padding-right: 20px;
}
#sitemap{
	display:none;
	height: 350px;
	width: 100%;
	margin-bottom: 20px;
}

.contact-right td input.textfield,.contact-right td textarea{
	font-family:Arial, Helvetica, sans-serif;
	background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #E9E9E9;
  color: #6B6B6B;
  font-size: 12px;
  height: 15px;
  padding: 13px 13px 12px 12px;
  margin-bottom: 10px;
  width: 433px;
}

.contact-right td input.textfield:focus, .contact-right td textarea:focus{
	border: 1px solid #509A04;
}

.contact-right tr td textarea{
	resize:none;
	height: 150px;
}
/*gallery page*/
.gallery-wrapper{
	margin: 20px;
}
.gallery ul li{
	float: left;
	width: 220px;
	height: 170px;
	margin: 0 4px 15px 0;
	padding-bottom: 10px;
}
.gallery ul li:hover,.gallery ul li:hover p{
	/*border: 1px solid #20bb36;*/
	background-color: #509a04;
	color: #ffffff!important;
}
.last-pict{
	margin-right: 0!important;
}
.gallery .picture{
	overflow: hidden;
	width: 220px;
	height: 150px;
}
.pictures p{
	margin-top: 5px;
	text-align: center!important;
	font-family: arial,sans-serif;
	font-size: 14px;
}

/*Product page*/
.product ul{
	margin-bottom: 20px;
}
.product li{
	line-height: 1.5em;
}
.first li{
	line-height: 1.5em;
	list-style: decimal;
	margin-left: 270px;
}
.second li{
	line-height: 1.5em;
	list-style: decimal;
	margin-left: 10px;
}
.mineral{
	margin-left: 10px;
}
.product-right h3{
	line-height: 1.5em;
}

/*JANGAN DIHAPUS*/
/*NOTIF MESSAGE UNTUK CONTACT US*/
h3 #successmessage{text-align: center;background: #509A51;color: #fff;padding: 10px;}
h3 #errormessage{text-align: center;background: #FF0000;color: #fff;padding: 10px;}